In [10]:
import pandas as pd

In [11]:
df = pd.read_csv("../data/trees.csv", sep=';', low_memory=False)

In [41]:
df

,elem_point_id,code,nom,genre,genre_desc,categorie,categorie_desc,sous_categorie,sous_categorie_desc,code_parent,...,diametrearbre,causeabattage,collectivite,stationmetro,hauteurarbre,portarbre,structure,forme,typenature,geo_point_2d
0,27452.0,ESP29627,AR29627,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP991,...,NaN,NaN,Ville de Grenoble,NaN,de 10 m à 20 m,Libre,Ville de Grenoble,Tige,Libre,"45.18599541005583,5.736390702744254"
1,27458.0,ESP29628,AR29628,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP22,...,NaN,NaN,Ville de Grenoble,NaN,Plus de 20 m,Libre,Ville de Grenoble,NaN,Libre,"45.18535720117796,5.737112737684537"
2,27461.0,ESP29629,AR29629,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP22,...,NaN,NaN,Ville de Grenoble,NaN,de 10 m à 20 m,Libre,Ville de Grenoble,NaN,Libre,"45.185699673347614,5.7377442387742645"
3,27467.0,ESP29630,AR29630,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP843,...,NaN,NaN,Ville de Grenoble,NaN,Moins de 10 m,Libre,Ville de Grenoble,NaN,Libre,"45.184868969286526,5.7364435192678584"
4,27470.0,ESP29631,AR29631,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP614,...,NaN,NaN,Ville de Grenoble,NaN,de 10 m à 20 m,Libre,Ville de Grenoble,Tige,Libre,"45.18493170028907,5.734850190386917"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31821,27517.0,ESP27738,AR27738,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP714,...,NaN,NaN,Ville de Grenoble,NaN,Moins de 10 m,Libre,Ville de Grenoble,NaN,Libre,"45.183034220591935,5.735577673559971"
31822,27519.0,ESP27739,AR27739,VEG,VEGETATION,ESP01,Arbre,ESP187,Bois semi naturel,ESP31659,...,NaN,NaN,Ville de Grenoble,NaN,Plus de 20 m,Libre,Ville de Grenoble,NaN,Libre,"45.18351698514722,5.735315763957461"
31823,27521.0,ESP27740,AR27740,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP203,...,NaN,NaN,Ville de Grenoble,NaN,Plus de 20 m,Libre,Ville de Grenoble,NaN,Libre,"45.18437975945701,5.735769288203197"
31824,27523.0,ESP27741,AR27741,VEG,VEGETATION,ESP01,Arbre,ESP151,Arbre de voirie,ESP320,...,NaN,NaN,Grenoble Alpes Métropole,NaN,de 10 m à 20 m,Semi-libre,Métropole de Grenoble,Tige,Semi-libre,"45.167433401965766,5.741630980486011"
31825,27525.0,ESP27742,AR27742,VEG,VEGETATION,ESP01,Arbre,ESP151,Arbre de voirie,ESP994,...,NaN,NaN,Ville de Grenoble,NaN,NaN,NaN,Ville de Grenoble,NaN,NaN,"45.170609213598304,5.741097829901726"

In [42]:
df.columns

Index(['elem_point_id', 'code', 'nom', 'genre', 'genre_desc', 'categorie',
       'categorie_desc', 'sous_categorie', 'sous_categorie_desc',
       'code_parent', 'code_parent_desc', 'adr_secteur', 'bien_reference',
       'genre_bota', 'espece', 'variete', 'stadededeveloppement', 'equipe',
       'remarques', 'anneedeplantation', 'raisondeplantation',
       'traitementchenilles', 'courrier', 'identifiantplu',
       'typeimplantationplu', 'intituleprotectionplu', 'anneeabattage',
       'essouchement', 'diametrearbre', 'causeabattage', 'collectivite',
       'stationmetro', 'hauteurarbre', 'portarbre', 'structure', 'forme',
       'typenature', 'geo_point_2d'],
      dtype='object')

In [43]:
min(df["anneedeplantation"])

1900.0

In [44]:
max(df["anneedeplantation"])

2022.0

In [45]:
df[0:2]

,elem_point_id,code,nom,genre,genre_desc,categorie,categorie_desc,sous_categorie,sous_categorie_desc,code_parent,...,diametrearbre,causeabattage,collectivite,stationmetro,hauteurarbre,portarbre,structure,forme,typenature,geo_point_2d
0,27452.0,ESP29627,AR29627,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP991,...,NaN,NaN,Ville de Grenoble,NaN,de 10 m à 20 m,Libre,Ville de Grenoble,Tige,Libre,"45.18599541005583,5.736390702744254"
1,27458.0,ESP29628,AR29628,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP22,...,NaN,NaN,Ville de Grenoble,NaN,Plus de 20 m,Libre,Ville de Grenoble,NaN,Libre,"45.18535720117796,5.737112737684537"

In [56]:
df.loc[df['anneedeplantation'] == 2022, 'anneedeplantation']

361      2022.0
362      2022.0
366      2022.0
367      2022.0
368      2022.0
          ...
23713    2022.0
23714    2022.0
23821    2022.0
23822    2022.0
23823    2022.0
Name: anneedeplantation, Length: 215, dtype: float64

In [47]:
df.columns

Index(['elem_point_id', 'code', 'nom', 'genre', 'genre_desc', 'categorie',
       'categorie_desc', 'sous_categorie', 'sous_categorie_desc',
       'code_parent', 'code_parent_desc', 'adr_secteur', 'bien_reference',
       'genre_bota', 'espece', 'variete', 'stadededeveloppement', 'equipe',
       'remarques', 'anneedeplantation', 'raisondeplantation',
       'traitementchenilles', 'courrier', 'identifiantplu',
       'typeimplantationplu', 'intituleprotectionplu', 'anneeabattage',
       'essouchement', 'diametrearbre', 'causeabattage', 'collectivite',
       'stationmetro', 'hauteurarbre', 'portarbre', 'structure', 'forme',
       'typenature', 'geo_point_2d'],
      dtype='object')

In [48]:
df.head(25)
df['anneedeplantation'].values

array([1965., 1965., 1965., ..., 1960., 1979., 1981.])

In [49]:
df['anneedeplantation']

0        1965.0
1        1965.0
2        1965.0
3        1965.0
4        1965.0
          ...
31821    1970.0
31822    1997.0
31823    1960.0
31824    1979.0
31825    1981.0
Name: anneedeplantation, Length: 31826, dtype: float64

In [146]:
df.iloc[0:2,1]

0    ESP29627
1    ESP29628
Name: code, dtype: object

In [147]:
df.iloc[25:28, [2,13]]

        nom genre_bota
25  AR29668       Acer
26  AR29669   Platanus
27  AR29670   Platanus

In [149]:
df['anneedeplantation']

0        1965.0
1        1965.0
2        1965.0
3        1965.0
4        1965.0
          ...
31821    1970.0
31822    1997.0
31823    1960.0
31824    1979.0
31825    1981.0
Name: anneedeplantation, Length: 31826, dtype: float64

In [152]:
df[0:5]

,elem_point_id,code,nom,genre,genre_desc,categorie,categorie_desc,sous_categorie,sous_categorie_desc,code_parent,...,diametrearbre,causeabattage,collectivite,stationmetro,hauteurarbre,portarbre,structure,forme,typenature,geo_point_2d
0,27452.0,ESP29627,AR29627,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP991,...,NaN,NaN,Ville de Grenoble,NaN,de 10 m à 20 m,Libre,Ville de Grenoble,Tige,Libre,"45.18599541005583,5.736390702744254"
1,27458.0,ESP29628,AR29628,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP22,...,NaN,NaN,Ville de Grenoble,NaN,Plus de 20 m,Libre,Ville de Grenoble,NaN,Libre,"45.18535720117796,5.737112737684537"
2,27461.0,ESP29629,AR29629,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP22,...,NaN,NaN,Ville de Grenoble,NaN,de 10 m à 20 m,Libre,Ville de Grenoble,NaN,Libre,"45.185699673347614,5.7377442387742645"
3,27467.0,ESP29630,AR29630,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP843,...,NaN,NaN,Ville de Grenoble,NaN,Moins de 10 m,Libre,Ville de Grenoble,NaN,Libre,"45.184868969286526,5.7364435192678584"
4,27470.0,ESP29631,AR29631,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP614,...,NaN,NaN,Ville de Grenoble,NaN,de 10 m à 20 m,Libre,Ville de Grenoble,Tige,Libre,"45.18493170028907,5.734850190386917"

In [51]:
df[['anneedeplantation', 'genre_bota']]

       anneedeplantation genre_bota
0                 1965.0     Ginkgo
1                 1965.0   Platanus
2                 1965.0      Morus
3                 1965.0      Taxus
4                 1965.0       Acer
...                  ...        ...
31821             1970.0     Prunus
31822             1997.0      Tilia
31823             1960.0   Platanus
31824             1979.0    Catalpa
31825             1981.0      Tilia

[31826 rows x 2 columns]

In [52]:
df.loc[df['anneedeplantation'] == 1981, 'genre_bota']

29           Acer
40         Cercis
203       Populus
204          Acer
352         Tilia
           ...
31341       Pinus
31357    Carpinus
31554     Sophora
31781       Tilia
31825       Tilia
Name: genre_bota, Length: 580, dtype: object

In [166]:
arbre_par_an = df['anneedeplantation'].value_counts()
arbre_par_an

anneedeplantation
1975.0    3452
2001.0    1449
1980.0    1359
1970.0    1293
2015.0    1004
          ...
1900.0      25
1959.0      16
1924.0      11
1964.0       6
2021.0       5
Name: count, Length: 66, dtype: int64

In [154]:
df['anneedeplantation'].value_counts().mean()

451.93939393939394

In [153]:
arbre_par_an.mean()

451.93939393939394

In [164]:
liste_tuple = [(annee , valeur) for annee , valeur in arbre_par_an.items()]
liste_tuple

[(1975.0, 3452),
 (2001.0, 1449),
 (1980.0, 1359),
 (1970.0, 1293),
 (2015.0, 1004),
 (2018.0, 871),
 (1976.0, 871),
 (2014.0, 835),
 (1985.0, 830),
 (1978.0, 822),
 (1965.0, 718),
 (1995.0, 698),
 (1960.0, 696),
 (1987.0, 678),
 (1984.0, 639),
 (2009.0, 630),
 (2017.0, 619),
 (1977.0, 596),
 (1981.0, 580),
 (2006.0, 570),
 (1999.0, 552),
 (2016.0, 520),
 (2011.0, 484),
 (2010.0, 445),
 (2000.0, 410),
 (1950.0, 397),
 (2005.0, 375),
 (2019.0, 355),
 (1982.0, 340),
 (1996.0, 337),
 (2004.0, 331),
 (2003.0, 327),
 (2002.0, 315),
 (1979.0, 307),
 (2013.0, 306),
 (1969.0, 303),
 (2012.0, 298),
 (1989.0, 290),
 (1972.0, 289),
 (1983.0, 279),
 (1974.0, 277),
 (1994.0, 238),
 (1990.0, 237),
 (1997.0, 228),
 (1988.0, 224),
 (2022.0, 215),
 (1992.0, 213),
 (1986.0, 207),
 (2008.0, 207),
 (1998.0, 198),
 (2020.0, 172),
 (2007.0, 134),
 (1993.0, 132),
 (1991.0, 132),
 (1955.0, 113),
 (1968.0, 108),
 (1966.0, 84),
 (1971.0, 66),
 (1967.0, 52),
 (1973.0, 32),
 (1944.0, 26),
 (1900.0, 25),
 (1959.0, 16),
 (1924.0, 11),
 (1964.0, 6),
 (2021.0, 5)]

In [77]:
arbre_par_an.mean()

451.93939393939394

In [75]:
df['anneedeplantation'].value_counts()[1981]

580

In [74]:
#Moyenne d'arbres plantés par année
df['anneedeplantation'].value_counts().mean()

451.93939393939394

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31826 entries, 0 to 31825
Data columns (total 38 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   elem_point_id          31817 non-null  float64
 1   code                   31826 non-null  object
 2   nom                    31826 non-null  object
 3   genre                  31826 non-null  object
 4   genre_desc             31826 non-null  object
 5   categorie              31817 non-null  object
 6   categorie_desc         31817 non-null  object
 7   sous_categorie         31817 non-null  object
 8   sous_categorie_desc    31817 non-null  object
 9   code_parent            31817 non-null  object
 10  code_parent_desc       31817 non-null  object
 11  adr_secteur            31808 non-null  float64
 12  bien_reference         31808 non-null  object
 13  genre_bota             31001 non-null  object
 14  espece                 29338 non-null  object
 15  variete                4641 non-null   object
 16  stadededeveloppement   27953 non-null  object
 17  equipe                 0 non-null      float64
 18  remarques              5306 non-null   object
 19  anneedeplantation      29828 non-null  float64
 20  raisondeplantation     3310 non-null   object
 21  traitementchenilles    2096 non-null   object
 22  courrier               9 non-null      object
 23  identifiantplu         603 non-null    object
 24  typeimplantationplu    5038 non-null   object
 25  intituleprotectionplu  594 non-null    object
 26  anneeabattage          9 non-null      object
 27  essouchement           9 non-null      float64
 28  diametrearbre          9 non-null      object
 29  causeabattage          0 non-null      float64
 30  collectivite           31095 non-null  object
 31  stationmetro           1896 non-null   object
 32  hauteurarbre           20285 non-null  object
 33  portarbre              13980 non-null  object
 34  structure              30986 non-null  object
 35  forme                  8602 non-null   object
 36  typenature             13980 non-null  object
 37  geo_point_2d           31808 non-null  object
dtypes: float64(6), object(32)
memory usage: 9.2+ MB

In [157]:
#nombre d'arbres pour lesquels l'année de plantation n'est pas référencée
df['anneedeplantation'].isna().sum()

1998

In [158]:
df['genre_bota'].isna().sum()

825

In [84]:
df['anneedeplantation'].fillna(0, inplace = True)
df['anneedeplantation'].astype(int)

0        1965
1        1965
2        1965
3        1965
4        1965
         ...
31821    1970
31822    1997
31823    1960
31824    1979
31825    1981
Name: anneedeplantation, Length: 31826, dtype: int64

In [86]:
df['anneedeplantation'].value_counts()[0]

1998

In [106]:
df.query("anneedeplantation == 1995")

,elem_point_id,code,nom,genre,genre_desc,categorie,categorie_desc,sous_categorie,sous_categorie_desc,code_parent,...,diametrearbre,causeabattage,collectivite,stationmetro,hauteurarbre,portarbre,structure,forme,typenature,geo_point_2d
12,14336.0,ESP29645,AR29645,VEG,VEGETATION,ESP01,Arbre,ESP151,Arbre de voirie,ESP247,...,NaN,NaN,Grenoble Alpes Métropole,NaN,Moins de 10 m,Semi-libre,Métropole de Grenoble,NaN,Semi-libre,"45.15967974370125,5.7225610266087115"
13,14340.0,ESP29646,AR29646,VEG,VEGETATION,ESP01,Arbre,ESP151,Arbre de voirie,ESP247,...,NaN,NaN,Grenoble Alpes Métropole,NaN,de 10 m à 20 m,Semi-libre,Métropole de Grenoble,NaN,Semi-libre,"45.15993896693372,5.72157183831068"
97,23572.0,ESP29862,AR29862,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP373,...,NaN,NaN,Ville de Grenoble,NaN,Moins de 10 m,NaN,Ville de Grenoble,NaN,NaN,"45.16202597889552,5.707580924531444"
115,21131.0,ESP29883,AR29883,VEG,VEGETATION,ESP01,Arbre,ESP187,Bois semi naturel,ESP31691,...,NaN,NaN,Ville de Grenoble,NaN,NaN,NaN,Ville de Grenoble,Tige,NaN,"45.162889770015084,5.706175282625733"
214,1178.0,ESP29428,AR29428,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP373,...,NaN,NaN,Ville de Grenoble,NaN,NaN,NaN,Ville de Grenoble,NaN,NaN,"45.16230617246214,5.706104227923584"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31676,28484.0,ESP28375,AR28375,VEG,VEGETATION,ESP01,Arbre,ESP187,Bois semi naturel,ESP31691,...,NaN,NaN,Ville de Grenoble,NaN,NaN,NaN,Ville de Grenoble,NaN,NaN,"45.16295660039072,5.705997639143465"
31677,28488.0,ESP28376,AR28376,VEG,VEGETATION,ESP01,Arbre,ESP187,Bois semi naturel,ESP31691,...,NaN,NaN,Ville de Grenoble,NaN,de 10 m à 20 m,NaN,Ville de Grenoble,Tige,NaN,"45.162958113820224,5.7053189315208686"
31764,24766.0,ESP28401,AR28401,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP1238,...,NaN,NaN,Grenoble Alpes Métropole,NaN,de 10 m à 20 m,Libre,Métropole de Grenoble,NaN,Libre,"45.17413992671237,5.7408546332523525"
31771,24859.0,ESP28408,AR28408,VEG,VEGETATION,ESP01,Arbre,ESP187,Bois semi naturel,ESP31691,...,NaN,NaN,Ville de Grenoble,NaN,de 10 m à 20 m,NaN,Ville de Grenoble,NaN,NaN,"45.16299989489066,5.705537099004435"
31772,24861.0,ESP28409,AR28409,VEG,VEGETATION,ESP01,Arbre,ESP187,Bois semi naturel,ESP31691,...,NaN,NaN,Ville de Grenoble,NaN,NaN,NaN,Ville de Grenoble,NaN,NaN,"45.16300163798428,5.705703045135931"

In [109]:
df.query("anneedeplantation == 1995")

,elem_point_id,code,nom,genre,genre_desc,categorie,categorie_desc,sous_categorie,sous_categorie_desc,code_parent,...,diametrearbre,causeabattage,collectivite,stationmetro,hauteurarbre,portarbre,structure,forme,typenature,geo_point_2d
12,14336.0,ESP29645,AR29645,VEG,VEGETATION,ESP01,Arbre,ESP151,Arbre de voirie,ESP247,...,NaN,NaN,Grenoble Alpes Métropole,NaN,Moins de 10 m,Semi-libre,Métropole de Grenoble,NaN,Semi-libre,"45.15967974370125,5.7225610266087115"
13,14340.0,ESP29646,AR29646,VEG,VEGETATION,ESP01,Arbre,ESP151,Arbre de voirie,ESP247,...,NaN,NaN,Grenoble Alpes Métropole,NaN,de 10 m à 20 m,Semi-libre,Métropole de Grenoble,NaN,Semi-libre,"45.15993896693372,5.72157183831068"
97,23572.0,ESP29862,AR29862,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP373,...,NaN,NaN,Ville de Grenoble,NaN,Moins de 10 m,NaN,Ville de Grenoble,NaN,NaN,"45.16202597889552,5.707580924531444"
115,21131.0,ESP29883,AR29883,VEG,VEGETATION,ESP01,Arbre,ESP187,Bois semi naturel,ESP31691,...,NaN,NaN,Ville de Grenoble,NaN,NaN,NaN,Ville de Grenoble,Tige,NaN,"45.162889770015084,5.706175282625733"
214,1178.0,ESP29428,AR29428,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP373,...,NaN,NaN,Ville de Grenoble,NaN,NaN,NaN,Ville de Grenoble,NaN,NaN,"45.16230617246214,5.706104227923584"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31676,28484.0,ESP28375,AR28375,VEG,VEGETATION,ESP01,Arbre,ESP187,Bois semi naturel,ESP31691,...,NaN,NaN,Ville de Grenoble,NaN,NaN,NaN,Ville de Grenoble,NaN,NaN,"45.16295660039072,5.705997639143465"
31677,28488.0,ESP28376,AR28376,VEG,VEGETATION,ESP01,Arbre,ESP187,Bois semi naturel,ESP31691,...,NaN,NaN,Ville de Grenoble,NaN,de 10 m à 20 m,NaN,Ville de Grenoble,Tige,NaN,"45.162958113820224,5.7053189315208686"
31764,24766.0,ESP28401,AR28401,VEG,VEGETATION,ESP01,Arbre,ESP174,Arbre d'espaces ouverts,ESP1238,...,NaN,NaN,Grenoble Alpes Métropole,NaN,de 10 m à 20 m,Libre,Métropole de Grenoble,NaN,Libre,"45.17413992671237,5.7408546332523525"
31771,24859.0,ESP28408,AR28408,VEG,VEGETATION,ESP01,Arbre,ESP187,Bois semi naturel,ESP31691,...,NaN,NaN,Ville de Grenoble,NaN,de 10 m à 20 m,NaN,Ville de Grenoble,NaN,NaN,"45.16299989489066,5.705537099004435"
31772,24861.0,ESP28409,AR28409,VEG,VEGETATION,ESP01,Arbre,ESP187,Bois semi naturel,ESP31691,...,NaN,NaN,Ville de Grenoble,NaN,NaN,NaN,Ville de Grenoble,NaN,NaN,"45.16300163798428,5.705703045135931"

In [114]:
df[['genre_bota', 'espece']].drop_duplicates()

          genre_bota       espece
0             Ginkgo       biloba
1           Platanus   acerifolia
2              Morus        nigra
3              Taxus      baccata
4               Acer  platanoides
...              ...          ...
30106           Olea          NaN
30883      Sterculia      foetida
30917        Quercus  salicifolia
30988          Pinus      strobus
31687  Chamaecyparis     pisifera

[457 rows x 2 columns]

In [124]:
df[['genre_bota']].value_counts()

genre_bota
Acer          5047
Platanus      4453
Pinus         1923
Tilia         1741
Fraxinus      1528
              ...
Staphylea        1
Rhamnus          1
Sorbopyrus       1
Castanea         1
Poncinos         1
Name: count, Length: 116, dtype: int64

In [120]:
df[['genre_bota', 'espece']].value_counts()

genre_bota  espece
Platanus    acerifolia        3757
Acer        pseudoplatanus    1276
Pinus       nigra             1227
Carpinus    betulus           1151
Acer        platanoides        985
                              ...
Malus       hybride              1
            ioenis               1
Quercus     macrolepis           1
            macrocarpa           1
inconnu     alba                 1
Name: count, Length: 400, dtype: int64

In [129]:
proportion_genre = df[['genre_bota']].value_counts()
proportion_genre = proportion_genre.apply(lambda x : x*100/31826)
proportion_genre

genre_bota
Acer          15.858103
Platanus      13.991705
Pinus          6.042230
Tilia          5.470370
Fraxinus       4.801106
                ...
Staphylea      0.003142
Rhamnus        0.003142
Sorbopyrus     0.003142
Castanea       0.003142
Poncinos       0.003142
Name: count, Length: 116, dtype: float64

In [12]:
df.to_csv('../data/trees2.csv', index=False, sep=';', low_memory=False)

TypeError: NDFrame.to_csv() got an unexpected keyword argument 'low_memory'